.show-more {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.line {
    width: 416%;
    height: 0.5px;
    background-color: #636161;
}

.show-more-button {
    position: absolute;
    top: -15px;
    left: 208%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show-more-button:hover {
    background-color: #0056b3;
}